# Data Analysis
We have three different datasets (aigues de Barcelona, Viladecans and Clima). Each one consists of the same game but in different context. For us the game context itself has no importance. Either way we are going to differentiate at first to load them free of headaches.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

## Aigues de Barcelona

In [25]:
games = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Aigua/aiguadebarri_games.csv')

In [26]:
participants = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Aigua/aiguadebarri_participants.csv')

In [27]:
contributions = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Aigua/aiguadebarri_participants_contributions.csv')

In [28]:
participants.head()

,frame_1,survey_2,frame_3,frame_2,selections,endowment_begin,gender,age,survey_4,contributed,survey_1,survey_3,finished,verification,participant_id,game_id,bots,education,endowment_end
0,r3,r3,r1,r1,10,40,W,r5,r1,26,r1,r3,1,1,2,1,0,r6,14
1,r3,r3,r1,r3,10,40,M,r5,r1,36,r3,r3,1,1,3,1,0,r3,4
2,r3,r2,r1,r1,10,40,M,r4,r1,10,r1,r2,1,1,4,1,0,r5,30
3,r3,r2,r1,r2,10,40,W,r4,r3,24,r1,r3,1,1,5,1,0,r5,16
4,r3,r3,r1,r3,10,40,W,r8,r3,26,r1,r3,1,1,6,1,0,r3,14

In [29]:
contributions.head()

,game_id,bots,user_id,contribution
0,1,"[False, False, False, False, False, False, Fal...",2,"[2L, 4L, 4L, 2L, 4L, 4L, 4L, 2L, 0L, 0L]"
1,1,"[False, False, False, False, False, False, Fal...",3,"[4L, 4L, 2L, 4L, 4L, 4L, 2L, 4L, 4L, 4L]"
2,1,"[False, False, False, False, False, False, Fal...",4,"[2L, 2L, 2L, 2L, 0L, 2L, 0L, 0L, 0L, 0L]"
3,1,"[False, False, False, False, False, False, Fal...",5,"[2L, 2L, 4L, 4L, 2L, 2L, 2L, 4L, 0L, 2L]"
4,1,"[False, False, False, False, False, False, Fal...",6,"[2L, 4L, 4L, 2L, 4L, 4L, 0L, 4L, 2L, 0L]"

In [10]:
games.head()

,game_id,evolution,contributed,goal_achieved
0,1,"[14L, 30L, 48L, 66L, 80L, 98L, 110L, 126L, 132...",138,1
1,2,"[12L, 28L, 48L, 60L, 74L, 92L, 110L, 116L, 124...",126,1
2,3,"[16L, 30L, 48L, 64L, 78L, 94L, 108L, 120L, 122...",122,1
3,4,"[16L, 28L, 40L, 58L, 72L, 84L, 98L, 108L, 122L...",132,1
4,5,"[14L, 34L, 44L, 58L, 70L, 86L, 100L, 116L, 128...",138,1

In [15]:
games['goal_achieved'].value_counts()

1    19
0     2
Name: goal_achieved, dtype: int64

## Viladecans

## Clima