# Data Analysis
We have three different datasets (aigues de Barcelona, Viladecans and Clima). Each one consists of the same game but in different context. For us the game context itself has no importance. Either way we are going to differentiate at first to load them free of headaches.

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Aigues de Barcelona

In [2]:
games = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Aigua/aiguadebarri_games.csv')

In [3]:
participants = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Aigua/aiguadebarri_participants.csv')

In [4]:
contributions = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Aigua/aiguadebarri_participants_contributions.csv')

In [5]:
participants.head()

,frame_1,survey_2,frame_3,frame_2,selections,endowment_begin,gender,age,survey_4,contributed,survey_1,survey_3,finished,verification,participant_id,game_id,bots,education,endowment_end
0,r3,r3,r1,r1,10,40,W,r5,r1,26,r1,r3,1,1,2,1,0,r6,14
1,r3,r3,r1,r3,10,40,M,r5,r1,36,r3,r3,1,1,3,1,0,r3,4
2,r3,r2,r1,r1,10,40,M,r4,r1,10,r1,r2,1,1,4,1,0,r5,30
3,r3,r2,r1,r2,10,40,W,r4,r3,24,r1,r3,1,1,5,1,0,r5,16
4,r3,r3,r1,r3,10,40,W,r8,r3,26,r1,r3,1,1,6,1,0,r3,14

In [6]:
contributions.head()

,game_id,bots,user_id,contribution
0,1,"[False, False, False, False, False, False, Fal...",2,"[2L, 4L, 4L, 2L, 4L, 4L, 4L, 2L, 0L, 0L]"
1,1,"[False, False, False, False, False, False, Fal...",3,"[4L, 4L, 2L, 4L, 4L, 4L, 2L, 4L, 4L, 4L]"
2,1,"[False, False, False, False, False, False, Fal...",4,"[2L, 2L, 2L, 2L, 0L, 2L, 0L, 0L, 0L, 0L]"
3,1,"[False, False, False, False, False, False, Fal...",5,"[2L, 2L, 4L, 4L, 2L, 2L, 2L, 4L, 0L, 2L]"
4,1,"[False, False, False, False, False, False, Fal...",6,"[2L, 4L, 4L, 2L, 4L, 4L, 0L, 4L, 2L, 0L]"

In [7]:
games.head()

,game_id,evolution,contributed,goal_achieved
0,1,"[14L, 30L, 48L, 66L, 80L, 98L, 110L, 126L, 132...",138,1
1,2,"[12L, 28L, 48L, 60L, 74L, 92L, 110L, 116L, 124...",126,1
2,3,"[16L, 30L, 48L, 64L, 78L, 94L, 108L, 120L, 122...",122,1
3,4,"[16L, 28L, 40L, 58L, 72L, 84L, 98L, 108L, 122L...",132,1
4,5,"[14L, 34L, 44L, 58L, 70L, 86L, 100L, 116L, 128...",138,1

In [8]:
games['goal_achieved'].value_counts()

1    19
0     2
Name: goal_achieved, dtype: int64

## Viladecans

In [9]:
partida = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Viladecans/partida.csv')
ronda = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Viladecans/ronda.csv')
user = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Viladecans/user.csv')
user_ronda = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Viladecans/userronda.csv')

In [13]:
partida.head()

,id,num_session,num_rounds,num_players,win_if_fails,comment,goal_reached
0,1,1,10,6,0,NaN,1
1,2,2,10,6,1,NaN,1
2,3,3,10,6,1,NaN,1
3,4,4,10,6,0,NaN,1
4,5,5,10,6,0,NaN,1

In [26]:
ronda.head(20)

    id  num_round  start_pot  end_pot  session_id
0    1          1        120      104           1
1    2          2        104       90           1
2    3          3         90       76           1
3    4          4         76       58           1
4    5          5         58       44           1
5    6          6         44       28           1
6    7          7         28       12           1
7    8          8         12       -8           1
8    9          9         -8      -14           1
9   10         10        -14      -16           1
10  11          1        120      114           2
11  12          2        114      102           2
12  13          3        102       88           2
13  14          4         88       72           2
14  15          5         72       58           2
15  16          6         58       42           2
16  17          7         42       18           2
17  18          8         18        6           2
18  19          9          6        0           2
19  20         10          0       -4           2

In [15]:
user.head()

,id,codi_postal,genere,rang_edat,nivell_estudis,situacio_laboral,estat_civil,acabat,diners_inicials,num_seleccions,...,enquesta_final_pr5,enquesta_final_pr6,enquesta_final_pr7,enquesta_final_pr8,enquesta_final_pr9,enquesta_final_pr10,enquesta_final_pr11,enquesta_final_pr12,enquesta_final_pr13,bots
0,1,8840,F,r6,r2,r1,r1,1,40,10,...,r2,r9,r7,r4,r2,r1,r2,r3,Mas plantas y que los nií±os tengan mas espaci...,0
1,2,8840,M,r6,r7,r1,r4,1,40,10,...,r1,na,r3,r5,r1,r1,r1,r1 r2 r3 r4,Todo zona peatonal\r\r,0
2,3,8840,M,r7,r4,r1,r2,1,40,10,...,r2,r11,r2,r3,r1,r2,r1,r5,La mejora en la pavimentacion,0
3,4,8840,F,r7,r2,r1,r5,0,40,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4,5,8840,M,r4,r6,r3,r2,1,40,10,...,r1,na,r2,r2,r4,r4,r2,r1,Un parque mas grande zonas verdee,0

In [17]:
user_ronda.head()

   id  has_selected  option_selected  round_id  user_id
0   1             1                2         1        1
1   2             1                2         1        2
2   3             1                4         1        3
3   4             1                4         1        4
4   5             1                2         1        5

## Clima

In [20]:
round_cccb = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Clima/round_CCCB.csv')
round_ciutadella = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Clima/round_ciutadella.csv')
# user_cccb = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Clima/user_CCCB.csv')
user_round_ciutadella = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Clima/userround_ciutadella.csv')
user_round_cccb = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Clima/userround_CCCB.csv')
# user_ciutadella = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Clima/user_ciutadella.csv')
session_cccb = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Clima/session_CCCB.csv')
session_ciutadella = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Clima/session_ciutadella.csv')

### Something is happening with the user data. Error seen below.

In [21]:
user_cccb = pd.read_csv('/Users/tonidomenech/Desktop/TfG/Data/Clima/user_CCCB.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf3 in position 886: invalid continuation byte

In [25]:
round_cccb.head(20)

    id  num_round  session_id  start_pot  end_pot
0    1          1           1        120      102
1    2          2           1        102       84
2    3          3           1         84       70
3    4          4           1         70       52
4    5          5           1         52       30
5    6          6           1         30       16
6    7          7           1         16        4
7    8          8           1          4       -4
8    9          9           1         -4      -10
9   10         10           1        -10      -14
10  11          1           2        120       98
11  12          2           2         98       76
12  13          3           2         76       58
13  14          4           2         58       40
14  15          5           2         40       28
15  16          6           2         28       16
16  17          7           2         16        6
17  18          8           2          6       -2
18  19          9           2         -2      -10
19  20         10           2        -10      -14